@use 'variables';
@use 'hero';
@use 'infos_bar';
@use 'buttons';
@use 'cards';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}



.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;



    @media (max-width: 1024px) {
        max-width: 90%;      
    }
}